*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-image: linear-gradient(120deg, #B1F0F7, #0A5EB0);
  color: white;
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
}

.container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  gap: 15px;
}

form{
  display: flex;
  justify-content: center;
  align-items: center;
  }

  form button{
    color: #0A5EB0;
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;

}

form button:hover {
    background: #0A5EB0;
    color: white;

}

.btn{
    color: #0A5EB0;
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
    padding: 0.5rem;
    font-size: 0.8rem;
    border: none;

}

.btn:hover {
  background: #0A5EB0;
    color: white;

}

form input, 
form button{
    padding: 1rem;
    font-size: 2rem;
    border: none;
    background: white;
}

input::placeholder{
  font-size: 1rem;
}

.fa-sharp,
.fa-solid{
  pointer-events: none;
}

.todo-list{
  min-width: 43%;
  list-style: none;
}

.todo{
  margin: 0.5rem;
  background: white;
  color: black;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 1s ease;
  padding: 0.5rem;
  cursor: pointer;
}

.todo li{
  flex: 1;
}

.crossed {

  text-decoration: line-through 2px red;

  background-color: #f0f0f0;

}

.deleteBtn{
  color: #0A5EB0;
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
    padding: 0.5rem;
    font-size: 0.8rem;
    border: none;

}



